@media (min-width: 1200px) {
  
  body {
  
  background-color: white;
  
  }

.head {

 background-image: url(./images/banner3.jpg);
 background-repeat: no-repeat;
 background-size: cover;

 height: 500px; 
 width: 100%x;

}

 /* Gornji desni cosak */

#corner {

 padding: 15px;
 font-weight: bolder;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: white;
 letter-spacing: 2px;
 
 font-size: x-large;
 justify-content: center;

}

.build {

  color: darkorange;
  border: 1px solid white;
  border-top: px;
  border-right: none;
  border-left: px;
}

nav {

display: flex;
justify-content: space-between;
margin: 0;
align-items: center;

}

/* navigacija desni deo imena */

.jedan {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding: 10px 15px;
  margin-right: 15px;
  color: white;
  font-family: myFont;
  font-size: small;
  
}

@font-face {
  font-family: myFont;
  src: url(./fonts/Roboto-Medium.ttf);
}

h1 {

 color: white;
 text-align: center;
 justify-content: center;
 padding-top: 70px;
 font-size: xx-large;
 font-family: myFont2; 
 letter-spacing: 4PX;

}

@font-face {
  font-family: myFont2;
  src: url(./fonts/Roboto-Light.ttf);
}

button {

 border-radius: 14px;
 background: hsl(214, 71%, 49%);
 color: aliceblue;
 border-color: hsl(214, 71%, 49%);
 margin-top: 5px;
 padding: 6PX;

}

.vertical-center {

 display: flex;
 justify-content: center;

}

/* sredisnji deo sa slikom u sredini */

.gridcontainer {

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 60px 370px;
 background-color: white;
 justify-content: center;
 padding: 30px 250px;

}

.grid-red1 {
  grid-column: 1 / 4;
  margin: 0px;
}

.grid-red1 > h2 {

 font-size: x-large;
 margin-bottom: 0px;
 text-align: center;
 margin-top: 0px;
}

.grid-red2 {

  grid-column: 1 / 1;
  margin: 0;
  display: block;
  justify-items: start;

  list-style-image: url(./images/arrow_bullet.png);
  
  padding: 30px;
  padding-top: 10px;
  
}

.grid-red22 {

  padding: 5px;
  padding-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px;

}

.grid-red2 > h3 {

color: rgb(10, 180, 236);
margin-top: 0px;
margin-bottom: 2px;

}

.grid-red2 > p {

  margin-bottom: 0px;

}

.grid-red3 {

line-height: 20px;

}

.grid-red5 {

 padding: 10px;
 justify-items: start;
 padding-left: 20px;
 
}

.grid-red5 > h3 {

color: rgb(9, 182, 240);  
margin-top: 0px;

}

.parag {

  margin: 0px;
  margin-bottom: 5px;

}

.grid-red4 {

padding-top: 10px;

}

.grid-red4 > img  {

  width: 100%;
  height: 320px;

}

.grid-red7 {

  line-height: 20px;
  list-style-image: url(./images/arrow_bullet.png);
  justify-content: start;
  padding-left: 20px;
  margin-top: 0px;
  
  }

  /* CARDS */

.card {

 display: flex;
 background-color: white;
 justify-content: space-around;
 height: 250px;
 padding: 20px;
 gap: 20px;

}

.card-item1, .card-item2, .card-item3  {

 background-color:  rgb(140, 209, 235);


}

.Jenny {

  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 30px;
  margin-top: 20px;
    
}

.card-item2 > h4 {

 text-align: center;
 border-top: 0px;
 margin-top: 0px;
 padding-left: 70px;
 

}

.willy {

  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 30px;
  margin-top: 20px;

}

.card-item1 > h4 {

 text-align: center;
 border-top: 0px;
 margin-top: 0px;
 padding-left: 70px;
 

}

.selly {

  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 30px;
  margin-top: 20px;

}

.card-item3 > h4 {

  text-align: center;
  border-top: 0px;
  margin-top: 0px;
  padding-left: 70px;
  

}

.avatar {

display: flex;

gap: 40px;
flex-wrap: wrap;
flex-direction: row;
padding-top: 25px;

}

.avatar > h4 > ul > li {

display: inline;

}

.avatar > h4 > ul {

padding-left: 0px;
color: white;

}

.card > .card-item1 > p {

color: white;
padding-left: 30px;
padding-right: 70px;


}

 /* Kartica u sredini */

.avatar2 {

display: flex;
  
gap: 40px;
flex-wrap: wrap;
flex-direction: row;
padding-top: 25px;
  
}

.avatar2 > h4 > ul > li {

display: inline;
       
}

.card > .card-item2 > p {

color: white;
padding-left: 30px;
padding-right: 70px;
      
      
  }

.avatar2 > h4 > ul {

padding-left: 0px;
color: white;
        
}

   /* Kartica na kraju */

.avatar3 {

display: flex;
    
gap: 40px;
flex-wrap: wrap;
flex-direction: row;
padding-top: 25px;
    
}
  
.avatar3 > h4 > ul > li {
  
display: inline;
      
      
  }
  
.card > .card-item3 > p {
  
color: white;
padding-left: 30px;
padding-right: 70px;
        
}
  
.avatar3 > h4 > ul {
  
padding-left: 0px;
color: white;
          
}

/* Pocetak cetvrtog dela mapa */

.opet > h2 {

text-align: center;
font-size:x-large;
margin-bottom: 5px;

}

.box {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-top: 25px;


}

iframe {

width: 100%;


}

.box-item1 {

background-color: rgb(125, 217, 64);
width: 25%;
height: 200px;
display: flex; 
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: larger;
color: white;
gap: 1em;

}

.box-item1 > span {

  font-size: large;
  font-weight: 100;

}

.box-item2 {

  background-color: lightcoral;
  width: 25%;
  height: 200px;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: white;
  gap: 1.5em; 
  
  
  }

  .box-item2 > span > img {

    
   padding: 10px;
    
  }

  .box-item3 {

    background-color: rgb(67, 151, 236);
    width: 25%;
    height: 200px;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    gap: 1.5em;
    
  }

  .box-item4 {

      background-color: rgb(179, 208, 236);
      width: 25%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }

  .box-item4 > img {

   border-image-slice: 30%;
  
  }

  .f1 {

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 80%;
   height: 300px; 
   align-items: center;
   justify-content: center;
   gap: 1%;
   margin: 0 auto; 
   justify-items: center;
   /* margin-left: 9%; */
   
  }

  #in1, #in2, #in3 {

    width: 25%; 
    height: 40px;
    margin: 0 0;
    padding: 2px 2px;

  }


  #in4 {

   width: 80%;
   height: 150px; 
   padding: 3px;
   
   margin-top: 0px;
  }

  .submit {

    margin-right: 75%;
    background-color: orange;
    padding: 8px 12px;

  }

.border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 2px;
  width: 100px;
  border-top: 1px solid black;
}

.square {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  transform: rotate(50deg);
  margin: 0 10px;
}

.naslov {

  padding-bottom: 15px;

}

.naslov > h2 {

  font-size: x-large;
  margin-bottom: 5px;
  
}

.crta {

padding: 20px;
padding-bottom: 40px;

}

.crta > h2 {

  font-size: x-large;
  margin-bottom: 5px;
  
}
}