.bar {

  background-color: aqua;
  width: 960px;
  height: 45px;
  text-align: end;
  padding: 6px;
  margin: 0 auto;
}

li {

display: inline;
padding: 10px;



}

li a:hover {
  background-color: rgb(230, 197, 202);
}

ul {



}

head {



}
