.box {

position: relative;

}



.prvi {

width: 200px;
height: 200px;
background-color: aqua;

z-index: 1;

}

.drugi {

  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 34);
  left: 70px;
  bottom: 120px;
  z-index: 2;

}

.treci {

  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 242);
  left: 140px;
  bottom: 200px;
  z-index: 2;

}